---
import BaseLayout from '../../layouts/BaseLayout.astro';
import MarkdownPostShort from '../../components/MarkdownPostShort.astro';
import PostTitle from '../../components/MarkdownPostTitle.astro';
import Header from '../../components/Header.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');

  const uniqueTags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.data.tags.includes(tag)).sort(
      (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle=`Katherine's Blog - #${tag}`>
  <Header />
  <PostTitle title=`tag: #${tag} (${posts.length} posts)` />
  <a href="/tags">Show all tags</a>
  <ul>
    {posts.map((post: any) => <li><MarkdownPostShort url=`/blog/${post.id}` title={post.data.title} pubDate={post.data.pubDate} tags={post.data.tags}/></li>)}
  </ul>
</BaseLayout>

<style>
  a {
    color: var(--text-colour)
  }
</style>